body {
    font-family: 'Be Vietnam', sans-serif;
    margin: 0;
}

main {
    max-width: 800px;
    margin: auto;
}

img {
  width: 400px;
  height: 300px;
  filter: blur(0em);
  transition: filter 0.5s;
}

source {
  width: 400px;
  height: 300px;
}

img[data-src] {
  filter: blur(0.2em);
}
