@media only screen and (min-width: 40em) {

    .nav {
        justify-content: space-evenly;
        height: 100px;
        align-content: center;
        align-items: center;
    }

    .nav li:first-child {
        display: none;
    }

    .nav li {
        display: block;
    }

    /*.cards {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-gap: 5px;
    }*/

    #forecast {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #forecast th {
        background-color: #CBEAA6;
        border: 1px solid black;
    }

    #forecast td {
        border: 1px solid black;
    }

    #forecast td p {
        text-align: center;
    }

    #map-image {
        display: flex;
        width: 300px;
    }

    #contact-info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

}
