body {
    font-family: 'Be Vietnam', sans-serif;
    margin: 0;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    background-color:#fadada;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
}

#weather-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.town-options {
    background-color:#c1e896;
    padding: 5px;
    margin: 1em;
}

img {
    width: 125px;
}

h1 {
    font-size: 200%;
}

#name-and-slogan h1 {
    font-size: 2em;
    margin: 0;
}

#name-and-slogan {
    padding: 5px;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color:#bad0b9;
}

.nav li:first-child {
    display: block;
}

.nav li {
    display: none;
}

.nav a:hover {
	color: black;
	background-color:#d8cf69;
	font-weight: 700;
}

.active {
	text-decoration: underline;
}

.responsive li {
    display: block;
    flex-direction: column;
}

.responsive {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 150%;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    max-width: 800px;
    margin: auto;
}

#hero {
    background-color: white;
    width: 100%;
    margin: 0;
    position: relative;
}

#hero img {
    width: 100%;
    height: auto;
}

#weather-summary {
  background: rgba(203, 234, 166, 0.7);
  width: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forecast {
    display: none;
}

#picnic-image {
    width: 325px;
    box-shadow: 2px 2px;
}

#contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map-image {
    display: none;
}

.warp{
    width:400px;
    margin-left:auto;
    margin-right:auto;
}
.form1{
    background-color:#d6c6a3;
    margin-top: 30px;
}

.form2{
    background-color:#d8cf69;
}

.font{
    font-weight: bold;
    font-size:24px;
    font-style: italic;
}


.submit input{
    margin: 30px auto;
    width: 200px;
    background-color:#949aa0;
    font-size: 16px;
    padding:8px;

}


footer {
    background-color:#fadada;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
